body {
    background: black;
    overflow: hidden;
}

.screen {
    height: 100vh;
}

.screen img {
    top: 50%;
    transform: translateY(25%);
}


#logoDiv {
    background: linear-gradient(rgb(96, 175, 255), rgb(132,190,251));
}

#mainDiv {
    background-color: rgb(132,190,251);
}

#mainCanvas {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}