body {
    background: black;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#logoDiv img {
    top: 50%;
    transform: translateY(25%);
    transform: translateX(-25%);
}

#logoDiv {
    background: linear-gradient(rgb(26, 105, 185), rgb(132,190,251));
    height: 100vh;
}

#mainDiv {
    background-color: rgb(132,190,251);
    height: 50vh;
}

#mainCanvas {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}