body {
    background: black;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#logoDiv img {
    width: 80%;
    max-width: 399px;
}

#logoDiv {
    background: linear-gradient(rgb(26, 105, 185), rgb(132,190,251));
    height: 200vh;
    display: block;
}

#mainDiv {
    background-color: rgb(132,190,251);
    height: 800px;
}

#mainCanvas {
    position: relative;
    top: 800px;
    transform: translateY(-750px);
}